{% extends "base.html" %}

{% block title %}Viewer - DICOM Analyzer{% endblock %}

{% block content %}
<div class="viewer-layout">
    <div class="sidebar">
        <h3>Patient Data</h3>
        <ul>
            <li>Patient Name: {{dicom_data.name}}</li>
            <li>Patient Age: {{dicom_data.age}}</li>
            <li>Patient Sex: {{dicom_data.sex}}</li>
            <li>Patient Modality: {{dicom_data.modality}}</li>
            <li>Patient Study Description: {{dicom_data.study_description}}</li>
            <li>Patient Study Date: {{dicom_data.study_date}}</li>
        </ul>
    </div>

    <div class="main-viewer">
        <div class="toolbar">
            <button id="btn-reset" data-filter="original">Reset</button>
            <button id="btn-invert" data-filter="invert">Invert</button>
            <button id="btn-clahe" data-filter="clahe">CLAHE</button>
            <button id="btn-edge" data-filter="edge">Edge Detection"</button>
        </div>

        <div class="image-container">
            <img src="/api/download/{{file_id}}" alt="Cant load image" id="dicomImage" data-file-id="{{file_id}}"
                style="display: none">
            <canvas id="dicomCanvas"></canvas>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/viewer.js') }}"></script>
{% endblock %}